<!DOCTYPE html>
<html lang="en">

<!-- <link rel = "stylesheet" type = "text/css" href = "/Users/emiliolr/Desktop/v-thacks/backend/static/style.css" media = "screen"> -->

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Firebase & Flask</title>
  <link rel="stylesheet" href="style.css">
</head>
<body class="full-screen flex-center">
  <h1 class="text-xl">Follow the Money</h1>
  <span align = "center">All endpoints for the <b>Follow the Money</b> API are routed through here! <br> Right now, functionality is limited to our basic POST request, but this could be expanded in the future.</span> <br><br>
  <img src = "logo.png" width = "300" height = 300></img>
</body>
</html>
