<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>118424930363-h42qlmfmmm2b175l33pvtkac4j8tsqjb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.118424930363-h42qlmfmmm2b175l33pvtkac4j8tsqjb</string>
	<key>API_KEY</key>
	<string>AIzaSyBAyYcKX73YY6YYXIO1fl2L_vi-YYHldxo</string>
	<key>GCM_SENDER_ID</key>
	<string>118424930363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.campus.vthacks2021</string>
	<key>PROJECT_ID</key>
	<string>vthacks2021</string>
	<key>STORAGE_BUCKET</key>
	<string>vthacks2021.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:118424930363:ios:e818348d74abf3b8f5b41e</string>
</dict>
</plist>